nav
    ul(style="display:flex; justify-content: space-between; list-style-type:none")
        li
            a(href="/") Main
        li
            a(href="/articles") Articles
        li
            a(href="/dashboard") Dashboard
        li
            if (user)
                a(href="/auth/logout") Logout
            else
                a(href="/auth/login") Login
        li
            if (!user)
                a(href="/auth/signin") Register
        if (user)
            li= email